/* =Inline bulleted lists
-------------------------------------------------------------- */
.list-horizontal li {
  display: inline-block;
}
.list-horizontal li:before {
  content: '\00a0\2022\00a0\00a0';
  color: #999;
  color: rgba(0, 0, 0, 0.5);
  font-size: 11px;
}
.list-horizontal li:first-child:before {
  content: '';
}

table button {
  padding: 6px;
}
